[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jackskiss
[access "refs/for/refs/*"]
	read = group user/jackskiss
	push = group user/jackskiss
	label-Code-Review = -2..+2 group user/jackskiss
	label-Verified = -1..+1 group user/jackskiss
	rebase = group user/jackskiss
	removeReviewer = group user/jackskiss
	submit = group user/jackskiss
[access "refs/heads/*"]
	read = group user/jackskiss
	create = group user/jackskiss
	push = +force group user/jackskiss
	pushMerge = group user/jackskiss
[access "refs/tags/*"]
	push = +force group user/jackskiss
	pushTag = group user/jackskiss
	pushSignedTag = group user/jackskiss
